body {
	font-family: 'Bree Serif', serif;
}
.center-align {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center-align h1 {
	color: gold;
	font-size: 40px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

img.header {
	padding: 0;
	margin-top: -10px;
	margin-bottom: -30px;
}

.left {
    text-align: left;
}
.summoners {
	text-align: right;
	float: right;
	margin-top: -252px;
}
.summoners img {
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}
.summoners span {
	font-size: 20px;
	margin-left: 10px;
}
.floatimg {
    float: left;
    padding: 20px;
}
.charname {
    padding-top: 35px;
    padding-bottom: 35px;
}

.runes {
    padding-top: 50px;
    padding-bottom: 175px;
}
dl  {
    float: left;
	display: inline-block;
}

dl.row2 {
	margin-top: -10px;
}
dt,
dd {
    width: 5.5em;
    float: left;
}
dt {
    margin-bottom: 4em;   
}
dd {
    margin:75px 0 0 -5.5em;
}

dt.rate {
	font-size: 20px;
	color: green;
	margin-left: -15px;
	margin-top: 15px;
	width: 100px;
}
.offset {
    margin-top: 200px;   
}
.buildorder {
    width: 48px;
    height: 48px;
}
.arrow {
    position: relative; top: -15px;      
}
.skillorder {
    text-align: center;
    width: 50%;
    font-size: 20px;
}   
.active {
    color: #00FF00; 
}
.gold {
    color: #FFD700;   
}
.silver {
    color: #C0C0C0;
}
.bronze {
    color: #CD7F32;
}   
.ult {
    color: purple;   
}
.green {
	color: green;
}
.red {
	color: red;
}
.item {
	border-style: inset;
	border-color: white;
	border-width: medium;
}
.headingtitle {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: medium;    
}
.title {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: thin;
}