body {
	font-family: 'Bree Serif', serif;
	text-align: center;
}
h1 {
	font-size: 7vw;
	margin: 0 0;
}
input {
	margin-top: 3vw;
	margin-bottom: 10px;
	width: 40vw;
	height: 4vw;
	font-size: 3vw;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
table {
	font-size: 2.5vw;
	text-align: left;
}
.nav {
	display: inline-block;
}

div.champion {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-bottom: 20px;
}

.caption {
    display: block;
}