input {
	margin-bottom: 10px;
	width: 40vw;
	height: 4vw;
	font-size: 3vw;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
table {
	font-size: 2vw;
	text-align: left;
}
table a:hover {
	font-size: 2.1vw;
	text-decoration: overline;
}
td, th {
	width: 18vw;
	display: inline-block;
}

div.champion {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 2px 0 20px 0;
}

div.champion:hover {
	text-decoration: overline;
	margin: 0 0 20px 0;
}

.caption {
    display: block;
}